vendor
.git
.gitignore
.gitattributes
README.md
docker-compose.dev.yml
Dockerfile.dev
Dockerfile
DOCKER_DEV_README.md
dev.sh
.env
.env.*.local
storage/*
!storage/app/public
storage/framework/*
storage/logs/*
*.vscode
*.log
*.tmp
*.bak
*.DS_Store
bootstrap/cache/*
tests
phpunit.xml
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*